* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  text-align: center;
  margin: auto; }

.logo-wrapper {
  text-align: center; }
  .logo-wrapper img {
    margin: 20px auto; }

.double-divider {
  margin: 20px auto;
  border-top: solid black 1px;
  border-bottom: solid black 5px;
  width: 100%;
  padding: 4px; }

.headline .skinny {
  background: #3e64ab;
  height: 1px;
  margin: 20px;
  width: 270px;
  display: inline-block; }
.headline h1 {
  font-size: 40px;
  font-weight: 300; }
  @media (max-width: 550px) {
    .headline h1 {
      font-size: 30px; } }
.headline .fatty {
  background: #3e64ab;
  height: 10px;
  margin: 20px;
  width: 150px;
  display: inline-block; }

.what-we-got h2 {
  font-size: 34px;
  font-weight: 200;
  margin-bottom: 30px;
  margin-top: 50px; }
  @media (max-width: 550px) {
    .what-we-got h2 {
      font-size: 26px; } }
.what-we-got img {
  width: 100%; }
.what-we-got p {
  font-weight: bold;
  padding: 10px;
  font-size: 17px;
  line-height: 20px; }
.what-we-got:after {
  background: black;
  width: 100%;
  height: 1px;
  width: 632px;
  margin: 70px auto; }
  @media (max-width: 800px) {
    .what-we-got:after {
      width: 100%; } }

.form-wrapper p {
  font-weight: bold;
  margin-bottom: 35px;
  font-size: 17px;
  padding: 0 100px;
  line-height: 20px; }
  @media (max-width: 600px) {
    .form-wrapper p {
      padding: 0px 50px; } }
  @media (max-width: 400px) {
    .form-wrapper p {
      padding: 0px 20px; } }
.form-wrapper label {
  font-size: 17px;
  font-weight: bold; }
  @media (max-width: 600px) {
    .form-wrapper label {
      font-size: 15px; } }
.form-wrapper .field-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
  margin-left: 12px; }
  @media (max-width: 600px) {
    .form-wrapper .field-wrapper {
      display: block;
      text-align: left; } }
  .form-wrapper .field-wrapper select {
    background: url(../../images/dropdown-icon.png);
    background-size: 16px 14px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-position-x: 98%;
    background-position-y: 8px; }
  .form-wrapper .field-wrapper input,
  .form-wrapper .field-wrapper select {
    padding: 7px;
    border: black solid 1px; }
  .form-wrapper .field-wrapper input[type="text"],
  .form-wrapper .field-wrapper input[type="number"],
  .form-wrapper .field-wrapper input[type="email"] {
    font-weight: bold; }
.form-wrapper .field-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  margin-left: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-wrapper .field-group:nth-child(3) .checkbox-wrapper {
    width: 100%;
    display: inline-block; }
  @media (max-width: 600px) {
    .form-wrapper .field-group {
      display: block; } }
  .form-wrapper .field-group .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 600px) {
      .form-wrapper .field-group .right-side {
        display: block; } }
.form-wrapper .select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  @media (max-width: 600px) {
    .form-wrapper .select-wrapper {
      display: block; } }
.form-wrapper .checkbox-wrapper {
  margin: 5px; }
  @media (max-width: 675px) {
    .form-wrapper .checkbox-wrapper {
      margin: 0; } }
  @media (max-width: 600px) {
    .form-wrapper .checkbox-wrapper {
      width: 41%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 10px 0; } }
  .form-wrapper .checkbox-wrapper .checkbox-inner-wrapper {
    display: inline-block; }
.form-wrapper .inline-only {
  font-size: 10px;
  padding: 4px; }
  @media (max-width: 400px) {
    .form-wrapper .inline-only {
      margin: 0; } }
  .form-wrapper .inline-only a {
    font-size: 8px;
    text-decoration: none;
    color: black; }
.form-wrapper .titles-list {
  width: 100%; }
.form-wrapper .right-side {
  width: 50%;
  position: relative;
  text-align: left; }
  @media (max-width: 600px) {
    .form-wrapper .right-side {
      display: block;
      width: 100%; } }
.form-wrapper .right-side input {
  width: 100%; }
.form-wrapper .left-side {
  width: 40%;
  text-align: left; }
  @media (max-width: 600px) {
    .form-wrapper .left-side {
      float: left;
      width: 100%;
      margin-bottom: 10px; } }
.form-wrapper .submit-wrapper input {
  background: #3e64ab;
  padding: 10px 40px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  width: auto; }
  .form-wrapper .submit-wrapper input:hover {
    cursor: pointer; }
.form-wrapper .text-smaller {
  line-height: 12px;
  margin: 10px;
  text-align: left;
  padding: 0;
  font-size: 10px; }
  .form-wrapper .text-smaller a {
    text-decoration: none;
    color: black; }
.form-wrapper .warn {
  color: red; }

.form-wrapper .validation-msg-error {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: red;
  display: none; }
.form-wrapper .err-termsAndConditions {
  display: block;
  left: 5px;
  bottom: -35px; }
.form-wrapper input[placeholder="Email address"] + .err-emailAddress {
  display: none;
  color: red; }
.form-wrapper input[placeholder="Email address"]:invalid + .err-emailAddress {
  display: block; }
.form-wrapper input[placeholder="Email address"] + .err-emailAddress {
  display: none; }
.form-wrapper input[placeholder="Email address"]:placeholder-shown + .validation-msg-error {
  display: block; }
.form-wrapper input[type="checkbox"] {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  z-index: 2;
  margin: 0;
  display: inline-block;
  position: relative; }
.form-wrapper input[type="checkbox"]:checked + .styled-checkbox {
  display: block;
  background: url(https://png.icons8.com/metro/1600/checkmark.png);
  background-repeat: no-repeat;
  background-size: cover; }
.form-wrapper .styled-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid grey;
  position: absolute;
  top: 0;
  left: 50px; }
  @media (max-width: 600px) {
    .form-wrapper .styled-checkbox {
      left: auto; } }
@media (max-width: 400px) {
  .form-wrapper .inline-only {
    margin: 0; } }
.form-wrapper #termsAndConditions + .styled-checkbox {
  left: 6px;
  bottom: 0;
  top: auto; }
  @media (max-width: 600px) {
    .form-wrapper #termsAndConditions + .styled-checkbox {
      left: auto; } }
.form-wrapper #termsAndConditions:checked ~ .err-termsAndConditions {
  display: none; }
.form-wrapper #smsSubscribe + .styled-checkbox {
  left: 43px;
  top: 0; }
  @media (max-width: 600px) {
    .form-wrapper #smsSubscribe + .styled-checkbox {
      left: auto; } }
.form-wrapper #telephoneSubscribe + .styled-checkbox {
  left: 87px;
  top: 0; }
  @media (max-width: 600px) {
    .form-wrapper #telephoneSubscribe + .styled-checkbox {
      left: auto; } }
.form-wrapper #postSubscribe + .styled-checkbox {
  left: 43px;
  top: 0; }
  @media (max-width: 600px) {
    .form-wrapper #postSubscribe + .styled-checkbox {
      left: auto; } }
.form-wrapper input[type="checkbox"] {
  opacity: 0;
  margin-left: 10px; }
  @media (max-width: 600px) {
    .form-wrapper input[type="checkbox"] {
      margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
