.form-wrapper {
    p {
        font-weight: bold;
        margin-bottom: 35px;
        font-size: 17px;
        padding: 0 100px;
        line-height: 20px;
        @media (max-width: 600px) {
            padding: 0px 50px;
        }
        @media (max-width: 400px) {
            padding: 0px 20px;
        }
    }
    label {
        font-size: 17px;
        font-weight: bold;
        @media (max-width: 600px) {
            font-size: 15px;
        }
    }
    .field-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
        margin-left: 12px;
        @media (max-width: 600px) {
            display: block;
            text-align: left;
        }
        select {
            background: url(../../images/dropdown-icon.png);
            background-size: 16px 14px;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            background-position-x: 98%;
            background-position-y: 8px;
        }
        input,
        select {
            padding: 7px;
            border: black solid 1px;
        }
        input[type="text"],
        input[type="number"],
        input[type="email"] {
            font-weight: bold;
        }
    }
    .field-group {
        position: relative;
        display: flex;
        margin: 20px;
        margin-left: 12px;
        justify-content: space-between;
        &:nth-child(3) {
            .checkbox-wrapper {
                width: 100%;
                display: inline-block;
            }
        }
        @media (max-width: 600px) {
            display: block;
        }
        .right-side {
            display: flex;
            @media (max-width: 600px) {
                display: block;
            }
        }
    }
    .select-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 600px) {
            display: block;
        }
    }
    .checkbox-wrapper {
        margin: 5px;
        @media (max-width: 675px) {
            margin: 0;
        }
        @media (max-width: 600px) {
            width: 41%;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
        }
        .checkbox-inner-wrapper {
            display: inline-block;
        }
    }
    .inline-only {
        font-size: 10px;
        padding: 4px;
        @media (max-width: 400px) {
            margin: 0;
        }
        a {
            font-size: 8px;
            text-decoration: none;
            color: black;
        }
    }
    .titles-list {
        width: 100%;
    }
    .right-side {
        width: 50%;
        position: relative;
        text-align: left;
        @media (max-width: 600px) {
            display: block;
            width: 100%;
        }
    }
    .right-side input {
        width: 100%;
    }
    .left-side {
        width: 40%;
        text-align: left;
        @media (max-width: 600px) {
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .submit-wrapper {
        input {
            background: #3e64ab;
            padding: 10px 40px;
            color: #fff;
            text-transform: uppercase;
            border: none;
            width: auto;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .text-smaller {
        line-height: 12px;
        margin: 10px;
        text-align: left;
        padding: 0;
        font-size: 10px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .warn {
        color: red;
    }
}
