.headline{

    .skinny {
        background: #3e64ab ;
        height: 1px;
        margin: 20px;
        width: 270px;
        display: inline-block;
        
    }
    
    h1 {
        font-size: 40px;
        font-weight: 300;
        @media(max-width:550px){
            font-size: 30px
        }
    }
    .fatty {
        background: #3e64ab;
        height: 10px;
        margin: 20px;
        width: 150px;
         display:inline-block;
        
    }
}