    .form-wrapper {
        .validation-msg-error {
            position: absolute;
            bottom: -25px;
            left: 0;
            color: red;
            display: none;
        }
        .err-termsAndConditions {
            display: block;
            left: 5px;
            bottom: -35px;
        }
        input[placeholder="Email address"] + .err-emailAddress {
            display: none;
            color: red;
        }
        input[placeholder="Email address"]:invalid + .err-emailAddress {
            display: block;
        }
        input[placeholder="Email address"] + .err-emailAddress {
            display: none
        }
        input[placeholder="Email address"]:placeholder-shown + .validation-msg-error {
            display: block
        }
        input[type="checkbox"] {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
            z-index: 2;
            margin: 0;
            display: inline-block;
            position: relative;
        }
        input[type="checkbox"]:checked + .styled-checkbox {
            display: block;
            background: url(https://png.icons8.com/metro/1600/checkmark.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .styled-checkbox {
            width: 15px;
            height: 15px;
            border: 1px solid grey;
            position: absolute;
            top: 0;
            left: 50px;
            @media(max-width: 600px) {
                left: auto
            }
        }
        .inline-only {
            @media (max-width: 400px) {
                margin: 0;
            }
        }
        #termsAndConditions + .styled-checkbox {
            left: 6px;
            bottom: 0;
            top: auto;
            @media(max-width: 600px) {
                left: auto
            }
        }
        #termsAndConditions:checked ~ .err-termsAndConditions {
            display: none;
        }
        #smsSubscribe + .styled-checkbox {
            left: 43px;
            top: 0;
            @media(max-width: 600px) {
                left: auto
            }
        }
        #telephoneSubscribe + .styled-checkbox {
            left: 87px;
            top: 0;
            @media(max-width: 600px) {
                left: auto
            }
        }
        #postSubscribe + .styled-checkbox {
            left: 43px;
            top: 0;
            @media(max-width: 600px) {
                left: auto
            }
        }
        input[type="checkbox"] {
            opacity: 0;
            margin-left: 10px;
            @media(max-width: 600px) {
                margin-left: 0;
            }
        }
    }
