.what-we-got {
    h2 {
        font-size: 34px;
        font-weight: 200;
        margin-bottom: 30px;
        margin-top: 50px;
        @media(max-width: 550px) {
            font-size: 26px
        }
    }
    img {
        width: 100%;
    }
    p {
        font-weight: bold;
        padding: 10px;
        font-size: 17px;
        line-height: 20px;
    }
    &:after {
        background: black;
        width: 100%;
        height: 1px;
        width: 632px;
        margin: 70px auto;
        @media (max-width: 800px) {
            width: 100%;
        }
    }
}
